body{
    display: grid;
}
.header{
    background-color: black;
    height:3em;
}
.charts{
    background: lightgray;
    display: grid;
    grid-gap: 4em;
}
/* .chart1{
    background: lightblue;
    height:20em;
} */
.footer{
    background-color: black;
    height:3em;
}
.table{
    display: grid;
    grid-gap:2em;
    padding:3em;
    padding-top:0em;
}
.table-head{
    display: flex;
    justify-content: space-evenly;
}
.chart5{
    display: grid;
}
h1{
    text-align: center;
}
